<div class="container-fluid">
<p id="notice"><%= notice %></p>
<p> <%= @repairer.first_name%> </p>
<p> <%= @repairer.last_name%> </p>
<p> <%= @repairer.bio%> </p>
<p> <%= @repairer.phone%> </p>
<p> <%= @repairer.address%> </p>
<p> <%= @repairer.city%> </p>
<p> <%= @repairer.mail%> </p>
<p> <%= @repairer.cellphone%> </p>
<%= link_to 'Editar', edit_home_repairer_path(@repairer) %> |
<%= link_to 'Atras', home_repairers_path %>
</div>