<h1>Registrarse</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <i class="fas fa-envelope-open-text"></i>
    <%= f.text_field :email, placeholder: 'Email'%>
  </p>
  <p>
  <i class="fas fa-key"></i>
    <%= f.password_field :password, placeholder: 'Contraseña'%>
  </p>
  <p>
  <i class="fas fa-key"></i>
    <%= f.password_field :password_confirmation, placeholder: 'Confirme contraseña' %>
  </p>
  
 <div class="actions">
    <input class="btn btn-primary btn-lg active" type="submit" value="Aceptar">
    <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Atras</a>    
     </div>

<% end %>
