<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <i class="fas fa-envelope-open-text"></i>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
  <i class="fas fa-key"></i>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
  <i class="fas fa-key"></i>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  
 <div class="actions">
    <input class="btn btn-primary btn-lg active" type="submit" value="Registrarse">
    <br>
    <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Atras</a>    
     </div>

<% end %>
