<div class="container-fluid">
<p id="notice"><%= notice %></p>

<h1>REPARADORES</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @repairers.each do |r| %>
      <tr>
        <td><%= r.first_name %></td>
        <td><%= r.last_name %></td>
        <td><%= r.bio %></td>
        <td><%= r.phone %></td>
        <td><%= r.address %></td>
        <td><%= r.city %></td>
        <td><%= r.mail %></td>
        <td><%= r.cellphone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="/repairers" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Atras</a>
</div>