<div class="container-fluid">
<p id="notice"><%= notice %></p>

<h1>REPARADORES</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @repairers.each do |r| %>
      <tr>
        <td><%= r.first_name %></td>
        <td><%= r.last_name %></td>
        <td><%= r.bio %></td>
        <td><%= r.phone %></td>
        <td><%= r.address %></td>
        <td><%= r.city %></td>
        <td><%= r.mail %></td>
        <td><%= r.cellphone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU94Vw_6KyK-A5U830EzKjWoWHDDZBjGQ&callback=initMap">
    </script>
<br>

<a href="/repairers" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Atras</a>
</div>