<p id="notice"><%= notice %></p>
<p> <%= @repairer.first_name%> </p>
<p> <%= @repairer.last_name%> </p>
<p> <%= @repairer.bio%> </p>
<%= link_to 'Edit', edit_repairer_path(@repairer) %> |
<%= link_to 'Back', repairers_path %>
