<p id="notice"><%= notice %></p>
<p> <%= @repairer.first_name%> </p>
<p> <%= @repairer.last_name%> </p>
<p> <%= @repairer.bio%> </p>
<p> <%= @repairer.phone%> </p>
<p> <%= @repairer.address%> </p>
<p> <%= @repairer.city%> </p>
<p> <%= @repairer.mail%> </p>
<%= link_to 'Edit', edit_repairer_path(@repairer) %> |
<%= link_to 'Back', repairers_path %>
