<div class="container-fluid">
<p id="notice"><%= notice %></p>
<p> <%= @category.name%> </p>
<p> <%= @category.description%> </p>
<%= link_to 'Editar', edit_admin_category_path(@category) %> |
<%= link_to 'Atras', admin_categories_path %>
</div>