<div class="container-fluid">

<p id="notice"><%= notice %></p>

<h1>CATEGORIAS</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Mostrar', admin_category_path(category) %></td>
        <td><%= link_to 'Editar', edit_admin_category_path(category) %></td>
        <td><%= link_to 'Eliminar', admin_category_path(category), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva categoria', new_admin_category_path %>
</div>